In [1]:
print("hello world")

hello world

in this project, I want to create a model,for estimation of the price of the house

lets go!!

lets import famous libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [3]:
#let's import our fucking data

data = pd.read_csv("../dataset/1632300362534233.csv")

In [4]:
data.shape

(3479, 8)

In [5]:
data.head(3)

  Area  Room  Parking  Warehouse  Elevator  Address         Price  Price(USD)
0   63     1     True       True      True  Shahran  1.850000e+09    61666.67
1   60     1     True       True      True  Shahran  1.850000e+09    61666.67
2   79     2     True       True      True   Pardis  5.500000e+08    18333.33